.container {
  height: 100vh;
  width: 100%;
  display: flex;
  display: flex;
  justify-content: center;
  /* align-content: center; */
  align-items: center;
}

.card {
  border: 0.3px rgb(62, 41, 255) dotted;
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(62, 41, 255, 0.1);
}

.card-header {
  background-color: rgba(71, 82, 243, 0.3);
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: flex;
  justify-content: center;
}

.input-group-text,
.custom-file-label,
.custom-file-label::after {
  color: rgb(62, 41, 255);
  border-color: rgb(62, 41, 255);
  background-color: transparent;
  appearance: none;
}
