* {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

html,
body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  display: flex;
  justify-content: center;
  /* align-content: center; */
  align-items: center;
}

.card {
  border: 0.3px rgb(62, 41, 255) dotted;
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(62, 41, 255, 0.1);
}

p {
  color: rgba(24, 38, 238, 1);
}

.card-header {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(24, 38, 238, 0.473);
}

.card-header > p {
  color: rgba(255, 255, 255, 1);
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  flex-direction: column;
  display: flex;
}

.input-group-text {
  padding: 0.37rem 0.75rem;
}

.input-group-text,
.custom-file-label,
.custom-file-label::after {
  color: rgba(71, 82, 243, 1);
  border-color: rgba(71, 82, 243, 0.7);
  background-color: transparent;
  appearance: none;
}

.btn-outline-primary {
  color: rgba(71, 82, 243, 1);
  border-color: rgba(71, 82, 243, 0.7);
  background-color: transparent;
  appearance: none;
}

.btn-outline-primary:hover,
.input-group-text:hover,
.custom-file-input:hover,
.custom-file-label::after:hover {
  background-color: rgba(71, 82, 243, 0.3);
  color: rgb(255, 255, 255);
}

.btn-outline-primary:hover {
  background-color: rgba(71, 82, 243, 0.3);
  border-color: rgba(71, 82, 243, 0.3);
  color: rgb(255, 255, 255);
}
